name: Manually triggered workflow
on:
  workflow_dispatch:
    inputs:
      image:
        description: 'Docker image'
        required: true
        default: 'ghcr.io/handsontable/handsontable/handsontable-documentation:latest'

jobs:
  run-image:
    runs-on: ubuntu-latest
    container:
      image: ${{ github.event.inputs.image }}
      steps:
        - name: Show current path (Docker)
          run: pwd
    steps:
      - name: Show current path (main)
        run: pwd