name: Manually triggered workflow
on:
  workflow_dispatch:
    inputs:
      image:
        description: 'Docker image'
        required: true
        default: 'ghcr.io/handsontable/handsontable/handsontable-documentation:latest'

jobs:
  run-image:
    env:
      NGROK_TOKEN: ${{ secrets.NGROK_AUTHTOKEN }}
    runs-on: ubuntu-latest
    services:
      container:
        image: ${{ github.event.inputs.image }}
        ports:
          - 80:80
    steps:
      - name: Show current path
        run: pwd
      - name: List files
        run: ls
      # - name: Setup tmate session
      #   uses: mxschmitt/action-tmate@f309efdef7da88e388f96a3cafc4f181ac639f7a
      #   timeout-minutes: 15
      - name: Run establish a ngrok tunnel
        id: test
        uses: vmactions/ngrok-tunnel@v0.0.1
        with:
          protocol: http
          port: 80
      - name: Sleep 1h
        run: sleep 1h