name: Manually triggered workflow
on:
  workflow_dispatch:
    inputs:
      image:
        description: 'Docker image'
        required: true
        default: 'ghcr.io/handsontable/handsontable/handsontable-documentation:latest'

jobs:
  run-image:
    runs-on: ubuntu-latest
    container:
      image: ${{ github.event.inputs.image }}
      ports:
        - 80
    steps:
      - name: Show current path
        run: pwd
      - name: List files
        run: ls
      - name: List files
        run: ls
      - name: Setup tmate session
        uses: mxschmitt/action-tmate@f309efdef7da88e388f96a3cafc4f181ac639f7a
        timeout-minutes: 15