name: Manually triggered workflow
on:
  workflow_dispatch:
    inputs:
      image:
        description: 'Docker image'
        required: true
        default: 'ghcr.io/handsontable/handsontable/handsontable-documentation:latest'

jobs:
  run-image:
    runs-on: ubuntu-latest
    services:
      container:
        image: ${{ github.event.inputs.image }}
        ports:
          - 80:80
    steps:
      - name: Show current path
        run: pwd
      - name: List files
        run: ls
      # - name: Setup tmate session
      #   uses: mxschmitt/action-tmate@f309efdef7da88e388f96a3cafc4f181ac639f7a
      #   timeout-minutes: 15
      - uses: apogiatzis/ngrok-tunneling-action@a88c9e0ef5b0f1932a5715f210f2fde239fc2630
        with:
          timeout: 1h
          port: 80